{{ define "main" }}
<h1>Contact Us</h1>

{{ if isset .Params "sent" }}
<p class="success">Your message has been sent. Thank you!</p>
{{ end }}

<form name="contact" method="POST" data-netlify="true" action="/contact/?sent">
  <input type="hidden" name="form-name" value="contact" />

  <fieldset>
    <legend>Send us a message</legend>

    <p>
      <label for="name">Your Name</label><br />
      <input type="text" id="name" name="name" required />
    </p>

    <p>
      <label for="subject">Subject</label><br />
      <input type="text" id="subject" name="subject" required />
    </p>

    <p>
      <label for="email">Email Address</label><br />
      <input type="email" id="email" name="email" required />
    </p>

    <p>
      <label for="message">Message</label><br />
      <textarea id="message" name="message" rows="6" cols="40" required></textarea>
    </p>

    <p>
      <input type="submit" value="Send Message" />
    </p>
  </fieldset>
</form>
{{ end }}
