<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="{{ .Site.Params.author }}" />
<meta name="MSSmarttagsPreventParsing" content="true" />
<meta name="Description" content="{{ .Site.Params.description }}" />
<meta http-equiv="content-language" content="en-au" />

<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/global.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/menu.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/table.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/breadcrumb.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/login.css" />
<link rel="stylesheet" media="print"  type="text/css" href="/resource/css/print.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/mobile.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/resource/css/product-layout.css" />

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} | {{ .Title }}{{ end }}</title>
