<ul class="rounded-corners">
  <li><a accesskey="1" href="/" tabindex="10" title="Keyboard shortcut: Alt+1">Home<br /><span class="subhead">Keyboard shortcut: Alt+1</span></a></li>
  <li><a accesskey="3" href="/movies/" tabindex="12" title="Keyboard shortcut: Alt+3">Catalogue<br /><span class="subhead">Keyboard shortcut: Alt+3</span></a></li>
  <li><a accesskey="4" href="/about/" tabindex="13" title="Keyboard shortcut: Alt+4">About Us<br /><span class="subhead">Keyboard shortcut: Alt+4</span></a></li>
  <li><a accesskey="5" href="/contact/" tabindex="14" title="Keyboard shortcut: Alt+5">Contact Us<br /><span class="subhead">Keyboard shortcut: Alt+5</span></a></li>
  <li><a accesskey="6" href="/links/" tabindex="15" title="Keyboard shortcut: Alt+6">Link Partners<br /><span class="subhead">Keyboard shortcut: Alt+6</span></a></li>
  <li><a accesskey="7" href="/faq/" tabindex="16" title="Keyboard shortcut: Alt+7">FAQ<br /><span class="subhead">Keyboard shortcut: Alt+7</span></a></li>
</ul>
